extends layout
block content
	.container
		.ui.basic.segment
			h1.ui.header.center Upload an icon
			input(id="fileupload", type="file", name="files[]", data-url="process").ui.button.black.icon.massive.fluid.file
block footer
block scripts
	script(type="text/javascript", src="/js/upload.js")