extends layout
block content
	.container
		.uploader
			h1.header Favicon Generator
			button#uploadbtn(class="progress-button", data-style="fill", data-horizontal).add-photo-btn
				| Upload Image
			input(title="",type="file", id="fileupload", name="files[]",  data-url="process")
			p.description You can also drag-and-drop or paste images.
				br
				a(href="http://il.ly").author Ilias Ismanalijev
block footer
block scripts
	script(type="text/javascript", src="/js/upload.js")