extends layout
block content
	.container
		.uploader
			button#uploadbtn(class="progress-button", data-style="fill", data-horizontal).add-photo-btn
				| Upload Image
			input(type="file", id="fileupload", name="files[]",  data-url="process")
block footer
block scripts
	script(type="text/javascript", src="/js/upload.js")