!!!
html
	head(lang="en")
		title Favicon Maker
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(name="description", content="Favicon Maker")
		meta(name="keywords", content="favicon, icon, touch icon, icons")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
		link(rel="stylesheet", href="/css/style.css", type="text/css")
	body
		block content
		footer
			block footer
			script(type="text/javascript", src="/js/jquery.js")
			script(type="text/javascript", src="/js/jquery.easing.js")
			script(type="text/javascript", src="/js/jquery.widget.js")
			script(type="text/javascript", src="/js/jquery.upload.js")
			script(type="text/javascript", src="/js/semantic.min.js")
			block scripts

