


@desktop:    ~"only screen and (min-width: 761px)";
@phone:    ~"only screen and (max-width: 470px)";
@tablet:    ~"only screen and (max-width: 760px)";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500italic,500,700italic,700,900,900italic);
// Roboto 100 300 400 500 700 900
@import "progress";

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", Helvetica, Futura, Arial, sans-serif;
	background: #252025;
	color: #fff;
	margin: 0px;
}

@color: #000;

a {
	color: @color;
	text-decoration: none;
	font-weight: bold;
	&:hover {
		color: darken(@color, 10%);
	}
}
.uploader input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: ~"alpha(opacity = 0)";
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;

    left: 0px;
    top: 95px;
    height: 210px;
    width: 500px;
    cursor: pointer;
}


@keyframes pulse
{
	0%   {box-shadow: #febf01 0px 0px 15px;}
	50%  {box-shadow: #febf01 0px 0px 10px;}
	100% {box-shadow: #febf01 0px 0px 15px;}
}

@-webkit-keyframes pulse
{
	0%   {box-shadow: #febf01 0px 0px 15px;}
	50%  {box-shadow: #febf01 0px 0px 10px;}
	100% {box-shadow: #febf01 0px 0px 15px;}
}

.add-photo-btn{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    display:block;
    width: 500px;
    height: 200px;
    font-size: 18px;
    line-height: 30px;
    float: left;
    cursor: pointer;
    box-shadow: #febf01 0px 0px 20px;

	-webkit-animation:pulse 5s;
	animation:pulse 5s;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}
input[type="text"]{
	float: left;
}

.container {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	bottom: 0px;
	right: 0px;
	width: 500px;
	height: 420px;
	text-align: center;
}

h1.header {
	border: 0;
	margin: 0 0 1rem;
	padding: 0;
	font-size: 1.33em;
	font-weight: 700;
	line-height: 1.33;
	color: #fff;

	text-shadow: 0px -1px 1px rgba(0,0,0, 1);

	text-transform: lowercase;
	font-variant: small-caps;
	font-weight: 100;
	font-size: 4em;
	text-align: center;
}
p.description {
	padding: 1.5em 0;
	font-weight: 300;
	clear: both;
	font-style: italic;
	.author {
		font-variant: small-caps;
		text-transform: lowercase;
		font-style: normal;
		font-weight: 500;
		color: #fff;
		text-decoration: none;
		&:hover {
			color: #DDD;
		}
	}
}

.progress-button .content {
	font-weight: 900;
	font-family: "Roboto", Helvetica, Arial;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 30px;
	//color: rgb(37,32,37, 1);
	color: #FFF;
	text-shadow: 0px -1px 1px darken(rgba(37,32,37, 0.5), 70%);
}